@media(max-device-width:500px) {
    .hamburger-menu {
        display: block !important;
    }

    .menu {
        display: none !important;
    }

    .container {
        margin-left: 32px !important;
        margin-right: 32px !important;
        width: 100% !important;
    }

    /* PRICE */
    .price-card {
        grid-template-columns: auto !important;
        justify-content: center !important;
    }

    .price-five-dollars {
        margin-top: 32px !important;
    }

    .price-ten-dollars {
        margin-top: 32px !important;
    }

    /* ENTERPRISE */
    .enterpise-btn {
        margin-left: 93px !important;
    }

    /* ALONG SIDE */
    .alongside-content-img {
        background-image: url(/pages/pricing/img/product-small.png) !important;
        width: 352px !important;
        height: 288.21px !important;
        margin-left: 46px !important;
    }

    .alongside-content-text {
        float: none !important;
        margin-top: 0px !important;
    }

    .alongside-title {
        text-align: center !important;
    }

    /* QUESTION&DROPDOWN */
    .question-dropdown-item {
        width: 90% !important;
    }

    .question-dropdown-subtitle {
        width: 430px !important;
    }

    /* COMPANIES */
    .companies-card {
        width: 371px !important;
        height: auto !important;
    }

    .companies-card-text {
        padding-top: 17px !important;
        margin-left: 22px !important;
    }

    .companies-card-btn {
        margin-left: 111px !important;
    }

    .companies-card-img {
        float: none !important;
        margin-top: 32px !important;
    }

    .companies-card-img img {
        width: 351px !important;
        height: 331px !important;
    }

    /* FOOTER */
    .footer {
        display: grid !important;
        grid-template-columns: 1fr !important;
        justify-content: center !important;
        text-align: center !important;
    }

    .footer-logo {
        display: flex !important;
        justify-content: center !important;
    }

    .footer-social-network {
        display: flex;
        justify-content: center;
    }

    .footer-resource {
        margin-left: 0px !important;
        margin-top: 32px !important;
    }

    .footer-stuff {
        margin-top: 32px !important;
        margin-left: 0px !important;
    }


    .footer-deal {
        margin-top: 32px !important;
        margin-left: 0px !important;
    }

    .footer-deal-btn {
        margin-left: 140px;
    }

    .footer-corp {
        margin-top: 44px !important;
    }
}